{% extends "base.html" %}

{% block content %}
<h3>{{action}} report for {{place_name}}</h3>

<script>
  function save_user_id(){
      var user_email = firebase.auth().currentUser.email;
      document.getElementById('user_id').value=user_email;
      console.log(user_email);
  };

  function showPreview() {
    var preview = document.querySelector('#preview');
    var files = document.querySelector('input[type=file]').files;

    function filePreview(file) {

    if ( /\.(jpe?g|png|gif)$/i.test(file.name) ) {
        var reader = new FileReader();

        reader.addEventListener("load", function () {
        var image = new Image();
        image.height = 100;
        image.title = file.name;
        image.src = this.result;
        preview.appendChild( image );
      }, false);

        reader.readAsDataURL(file);
    }

    }
    if (files) {
        [].forEach.call(files, filePreview);
    }

  }


</script>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Review Title</label>
    <input type="text" name="title" id="title" value="{{article.article_title}}" class="form-control"/>
  </div>


  <div class="form-group">
    <label for="comment">Review Content</label>
    <textarea name="comment" id="comment" class="form-control">{{article.comment}}</textarea>
  </div>

  <div class="form-group">
    <input type="text" name="user_id" id="user_id" value="" hidden=true class="form-control"/>
  </div>

   <div class="form-group">
    <input type="text" name="place_id" id="place_id" value={{place_id}} hidden=true class="form-control"/>
  </div>


  <div class="form-group">
      <label for="pic_files">Images</label>
      <input type="file" name="pic_files" id="pic_files" class="form-control" onchange="showPreview()" multiple/>
  </div>

  <div id="preview"></div>


  <button type="submit" id="button_submit" class="btn btn-success" onclick="save_user_id()" >Save</button>
  <button type="reset" id="button_reset" class="btn btn-secondary">Reset</button>
</form>

{% endblock %}
{# [END form] #}