<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block firebase %}
      <!-- The core Firebase JS SDK is always required and must be listed first -->
	  <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
  	  <script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
	  <!-- TODO: Add SDKs for Firebase products that you want to use
	             https://firebase.google.com/docs/web/setup#available-libraries -->
	  <script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>

	  <script>
	    // Your web app's Firebase configuration
	    var firebaseConfig = {
		  apiKey: "AIzaSyAC7jc46uD036_K4HX9kGltINjZ0OQRO-M",
		  authDomain: "explore-ut.firebaseapp.com",
		  databaseURL: "https://explore-ut.firebaseio.com",
		  projectId: "explore-ut",
		  storageBucket: "explore-ut.appspot.com",
		  messagingSenderId: "1062639050908",
		  appId: "1:1062639050908:web:90c143c9194faf71ff8d59"
	    };
	    // Initialize Firebase
	    firebase.initializeApp(firebaseConfig);
	    firebase.analytics();
	  </script>

	  <script src="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.js"></script>
  	  <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.css" />
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.css">    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      
    <title>Explore UT</title>
      
    {% block css %} {% endblock %}
    {% block javascript %}

      <script src="{{ url_for('static', filename='base.js') }}"></script>
    {% endblock %}
  </head>

  <body>
    <nav class="navbar navbar-expand-sm navbar-static-top navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">Explore UT</a>


        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/index">Manage</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_new_place">Create New Place</a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create_new_report/">Create New Review</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view_places">View Nearby Places</a> 
          </li>
          <li class="nav-item">
            <button id="sign-out" hidden=true type="button" class="btn btn-default">Sign Out</button>
          </li>
        </ul>
        <form class="form-inline" action="/search" method="get">
          <input class="form-control mr-sm-2" type="text" name="tag" placeholder="search places by tags" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    
    {% block title %} {% endblock %}

    {% block content %} {% endblock %}
  </body>
</html>