{% extends "base.html" %}

{% block content %}
     {% for place in places %}
        <hr/>
        <div class="row">
            <div class="col-9">
                <h3><a href="/view_one_place?place_id={{ place['_id'] }}">{{ place['name'] }}</a></h3>
                <h5>Tags:
                    {% for tag in place['tags'] %}
                        <a href="/search?tag={{ tag }}">{{ tag }}</a>
                    {% endfor %}
                </h5>
                <p>{{ place['intro'] }}</p>
                {% if places['reviews'] %}
                    <p>{{ place['reviews'][0] }}</p>
                {% endif %}
            </div>
            <div class="col-3">
                {% if place['pics'] %}
                    <img alt="sample" src="data:image/jpeg;base64,{{ place['pics'][0] }}" width="125">
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
