<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

	<!-- The core Firebase JS SDK is always required and must be listed first -->
	<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/6.2.4/firebase-auth.js"></script>
	<!-- TODO: Add SDKs for Firebase products that you want to use
	     https://firebase.google.com/docs/web/setup#available-libraries -->
	<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>

	<script>
	  // Your web app's Firebase configuration
	  var firebaseConfig = {
		apiKey: "AIzaSyAC7jc46uD036_K4HX9kGltINjZ0OQRO-M",
		authDomain: "explore-ut.firebaseapp.com",
		databaseURL: "https://explore-ut.firebaseio.com",
		projectId: "explore-ut",
		storageBucket: "explore-ut.appspot.com",
		messagingSenderId: "1062639050908",
		appId: "1:1062639050908:web:90c143c9194faf71ff8d59"
	  };
	  // Initialize Firebase
	  firebase.initializeApp(firebaseConfig);
	  firebase.analytics();
	</script>

	<script src="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.js"></script>
  	<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/4.2.0/firebaseui.css" />


	<title>Explore UT</title>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
	

	

    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">Explore UT</a>
      <button id="sign-out" hidden=true type="button" class="btn btn-danger justify-content-end">Sign Out</button>
    </nav>
	
    <div id="firebaseui-auth-container"></div>

	<div id="login-info" hidden=true>
	  
	  {% if user_data %}


	    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
	      <a class="navbar-brand" href="/index">Manage</a>
	      <a class="navbar-brand" href="/create_place">Create New Place</a>
	      <a class="navbar-brand" href="/create_report/">Create New Review</a>
	      <a class="navbar-brand" href="/view_places">View Nearby Places</a>
	      <a class="navbar-brand" href="/view_one_place">View Place</a>
	      
	      <form class="form-inline">
	        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	      </form>
	    </nav>
	    <h2>Login info:</h2>
    	<dl>
	      <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
	      <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
	      <p>Welcome Here :)</p>
	    </dl>

	    {% if articles %}

			{% for article in articles %}
			<a>{{ article['article_title'] }}</a>
			{% endfor %}

	    {% elif error_message %}
		    <p>You have posted nothing</p>
		{% endif %}

	    {% elif error_message %}
		    <p>Error: {{ error_message }}</p>
		{% endif %}

	</div>

</body>
</html>
