{% extends "base.html" %}

{% block css %}
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block javascript %}
  <script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}

{% block content %}
  <div id="login-info" hidden=true>
    {% if user_data %}
      <h2>Login info:</h2>
    	<dl>
	      <dt>Name</dt><dd>{{ user_data['name'] }}</dd>
	      <dt>Email</dt><dd>{{ user_data['email'] }}</dd>
	      <p>Welcome Here :)</p>
	    </dl>

	    {% if articles %}
          {% for article in articles %}
			<a>{{ article['article_title'] }}</a>
          {% endfor %}
	    {% elif error_message %}
		    <p>You have posted nothing</p>
	    {% elif error_message %}
		    <p>Error: {{ error_message }}</p>
		{% endif %}
    {% endif %}
  </div>
{% endblock %}
