{% extends "base.html" %}

{% block title %}
<h2>{{ place['name'] }}</h2>
{% endblock %}

{% block content %}
    <div>
        {% if place['pics'] %}
            <img alt="sample" src="data:image/jpeg;base64,{{ place['pics'][0] }}" width="125">
        {% endif %}

        <h3>Introduction</h3>
        <p>{{ place['intro'] }}</p>
    </div>

    <div>
        {% if place['pics'] %}
        {% for pic in place['pics'] %}
            <img alt="sample" src="data:image/jpeg;base64,{{ pic }}" width="250">
        {% endfor %}
        {% endif %}
    </div>

    {% if place['reviews'] %}
    {% for review in place['reviews'] %}
    <div>
        <p>{{ review }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <form method="POST">
    <button id="subscribe" hidden=true type="button">Subcribe</button>
    </form>

{% endblock %}
