<!DOCTYPE html>
{% extends "base.html"%}

{% block title %}
<h2>All Places Nearby</h2>
{% endblock %}

{% block content %}
     {% for place in places %}
        <div>
            <a href="/view_one_place?placeId={{ place['place_id'] }}"> <h3>{{ place['name'] }}</h3></a>

            {% if place['pics'] %}
                <img alt="sample" src="data:image/jpeg;base64,{{ place['pics'][0] }}" width="125">
            {% endif %}

            <p>{{ place['intro'] }}</p>
            {% if places['reviews'] %}
            <p>{{ place['reviews'][0] }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}