<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>View Nearby Places</title>
        <script src="{{ url_for('static', filename="view_places.js") }}"></script>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='view_places.css') }}">
    </head>
    <body>
        <h1>Explore UT</h1>
        <nav>
            <a href="/manage/">Manage</a> |
            <a href="/create_place/">Create New Place</a> |
            <a href="/create_report/">Create New Review</a> |
            <a href="/view_places">View Nearby Places</a> |
            <a href="/view_one_place">View Place</a> |
            <a href="/search/">Search Places</a>
        </nav>

        <h2>All Places Nearby</h2>

        {% for place in places %}
            <div>
                <a href="/view_one_place?placeId={{ place['place_id'] }}"> <h3>{{ place['name'] }}</h3></a>

                {% if place['pics'] %}
                    <img alt="sample" src="data:image/jpeg;base64,{{ place['pics'][0] }}" width="125">
                {% endif %}

                <p>{{ place['intro'] }}</p>
                {% if places['reviews'] %}
                <p>{{ place['reviews'][0] }}</p>
                {% endif %}
            </div>
        {% endfor %}

    </body>
</html>
